<% if user_signed_in? && board.user != current_user %>
  <div class="subscribe-button <%= @boards_subscribed_ids.include?(board.id) ? 'subscribed' : 'not-subscribed' %>">
    <div class="not-subscribed">
      <%= link_to subscribe_board_path(board), class: small ? '' : 'btn btn-default', method: :post, title: "Subscribe to this board?", data: { toggle:"tooltip", placement:"bottom", :"board-id" => board.id } do %>
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>+
        <% unless small %>Subscribe<% end %>
      <% end %>
    </div>
    <div class="pending">
      <i class="fa fa-cog fa-spin fa-fw margin-bottom"></i>o
    </div>
    <div class="subscribed">
      <%= link_to unsubscribe_board_path(board), class: small ? '' : 'btn btn-default', method: :post, title: 'You are subscribed to this board. Unsubscribe?', data: { toggle:"tooltip", placement:"bottom", :"board-id" => board.id, confirm: "Are you sure you want to unsubscribe from \"#{board.title}\"?" } do %>
        <i class="fa fa-plus-square" aria-hidden="true"></i>-
        <% unless small %>Unsubscribe<% end %>
      <% end %>
    </div>
  </div>
<% end %>
