html, body {
	height: 100%;
}

html body {
	font-family: 'Cardo', serif;
	color: #333;
	h1, h2, h3, h4, h5, h6,.navbar, .btn, .title-font {
		font-family: 'Montserrat', sans-serif;
	}
}

.sm-gap {
	margin-top: 20px !important;
}
.gap {
	margin-top: 50px !important;
}
.lg-gap {
	margin-top: 100px !important;
}

body {
	.btn-primary {
		background-color: #151e28;
		background: linear-gradient(#151e28, #3e5775);
		border-color: #151e28;

		&:hover {
			background-color: #151e28;
			background: linear-gradient(#3e5775, #151e28);
			border-color: #151e28;
		}
		&:active, &.active, .open > &.dropdown-toggle {
			background-color: #3e5775;
			border-color: #151e28;
		}
	}
}

a {
	color: #151E28;

	&:hover {
		color: #151E28;
	}
}

.field_with_errors {
	color: #a94442;
	input, select, textarea {
		background-color: #f2dede;
		border-color: #ebccd1;
	}
}

.clean.well {
	background: white;
	border-color: #eee;
	box-shadow: none;
}

#navbar-users {
	background-color: #151E28;
	color: #87949F;

	.navbar-brand {
		color: white;
	}
}

#navbar-admins {
	margin-bottom: 0;
}
